$h-primary-color: #B70031;
$h-border-radius: 0;

:export {
  h-border-radius: $h-border-radius;
  h-primary-color: $h-primary-color;
}
html,
body,
a,
p,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%
}
ul {
  list-style: none;
}
.el-button, .el-input__inner {
  height: 45px !important;
  line-height: 1;
}
.el-pagination {
  .el-input__inner {
    height: 30px !important;
  }
}

